<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593001908081-6j49n5sl53i45r8pojrst6sk9c95a0hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593001908081-6j49n5sl53i45r8pojrst6sk9c95a0hn</string>
	<key>API_KEY</key>
	<string>AIzaSyBkoc8Vp8kmPSbnMQ3M8UmpqzSXKec-C-0</string>
	<key>GCM_SENDER_ID</key>
	<string>593001908081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shldnflh.robotController2</string>
	<key>PROJECT_ID</key>
	<string>robot-controller-6558d</string>
	<key>STORAGE_BUCKET</key>
	<string>robot-controller-6558d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593001908081:ios:502d8e7e49330e47a3d8d0</string>
</dict>
</plist>